# Python 3.12.10
# 데이터 처리
pandas==2.2.3
python-dotenv==1.1.0
chardet==5.2.0

# 테스트 라이브러리
pytest==8.3.4

# DB
psycopg==3.2.4
psycopg2-binary==2.9.10
alembic==1.14.0
sqlalchemy==1.4.53

# airflow 라이브러리
apache-airflow==2.10.5

# 데이터 수집
yfinance==0.2.38
requests==2.32.3
beautifulsoup4==4.12.2

# 기타
black==24.4.2


# fastmcp
fastmcp==2.9.2
