# Python 3.11.0
pandas==2.0.1
numpy==1.24.3
beautifulsoup4==4.12.2
black==23.3.0
loguru==0.7.0
python-dotenv==1.0.1
requests==2.31.0
# 테스트 라이브러리
pytest==7.3.1
# postgresql관련 라이브러리
psycopg2-binary==2.9.6
psycopg==3.1.9
# airflow 라이브러리
apache-airflow==2.9.1
# 야후 파이낸스
yfinance==0.2.38
finance-datareader==0.9.90
plotly==5.22.0


