# Python 3.12.0
pandas==2.2.3
beautifulsoup4==4.12.3
requests==2.32.3

# 테스트 라이브러리
pytest==8.3.4

# postgresql관련 라이브러리
psycopg2-binary==2.9.10
psycopg==3.2.3

# airflow 라이브러리
apache-airflow==2.9.3

# 야후 파이낸스
yfinance==0.2.38
finance-datareader==0.9.90
plotly==5.22.0


